
{% extends 'shop/basic.html' %}

{% block title %} ShopNow {% endblock %}

<style>
  body .carousel-indicator li{
    background-color: blue;
  }
  body .carousel-control-next-icon,
  body .carousel-contron-prev-icon{
    background-color: blue;
  }
  .carousel-control-next,
  .carousel-contron-prev{
    top:auto;
    bottom:auto;
  }
</style>


    {% block body %}
     {% load static %}
  
 {% for prod,range,nslides in allprods%}
   <h1>{{prod.Product_category}}</h1>
   <br>
   <br>
    <div id="demo{{ forloop.counter}}" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

        {% for i in range %}

        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide="{{i}}"></li>
        {% endfor %}
      </ol>
      
  <div class=" container carousel-inner no-padding">
    <div class="carousel-item active">
      
      

      <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">


          
           
            
           
               
            {% for i in prod %}
           
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src='{{i.Product_image.url}}' >
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{i.Product_desc}}</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">{{i.Product_name}}</h2>
                <h4 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{i.Product_desc}}</h4>
                <p class="mt-1">${{i.Product_price}}</p>
              </div>
              <a href="/shop/productView/{{i.id}}">
              <button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ">
                Select
              </button>
              
              </a>
            </div>
        
        
            {% if forloop.counter|divisibleby:8 and forloop.counter > 0  and not forloop.last %}
         
          </div>
        </div>
       </section> 
    </div> 
  


         <div class="carousel-item ">
          <section class="text-gray-700 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
    
                
                
            {% endif %}

          
        
           {% endfor %}
          </div>
        </div>
         </section>
        </div>
  
    
     
    <div class="inline-flex mx-20 ">
     
      <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
          <a class="carousel-control-prev-icon" href="#demo{{forloop.counter}}" data-slide-to="prev">
            <span class="carousel-control-prev-icon"></span>
        Prev
        </a>
      </button>
      
      <button class=" bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r ml-20">
        <a class="carousel-control-next-icon" href="#demo{{forloop.counter}}" data-slide-to="next">
          <span class="carousel-control-next-icon"></span>
        
        Next
        </a>
      </button>
    </div>
    </div>
    <br>
    <br>
    <br>
   {% endfor %}
 </div>
 
    

{% endblock %}



{% block js %}
<script>
  
 
   
  
</script>
{% endblock %}

